{% extends 'base.html' %}
{% block content %}

<div class="services-grid">

{% for service in services  %}
    <div class="service-card">
    <div class="card-image">
      <img src="https://via.placeholder.com/400x300" alt="Service Image">
    </div>
    <div class="card-content">
      <span class="service-category">{{service.categoryId.categoryName}}</span>
      <h3 class="service-title">{{service.serviceName}}</h3>

      <!-- ✅ DELETE BUTTON  -->
      <a href="{% url 'deleteService' service.id %}"
         class="btn btn-danger btn-sm">
         Delete
    </a>

    </div>
  </div>
{% endfor %}

    
  </div>
{% endblock content %}




